.header {
    /* background:-webkit-linear-gradient(-29deg, rgba(33, 114, 45, 0.95) 0, rgba(55, 52, 120, 0.95) 100%); */
    /* min-height: 64px; */
    /* background-color: rgb(152, 189, 209); */
    /* background: linear-gradient(to right, #1A1C29,#5E6263,#4B565C,#363E41,#3D4140,#292D38,#323A3C); */
    /* align-items: baseline; */
    position: fixed;
    background: linear-gradient(to right, #98bdd1,#4CAEE3,#98bdd1,#4CAEE3,#98bdd1,#4CAEE3,#98bdd1);
    z-index: 1020;
    /* height: 2px; */
}

.header h6 {
    float: right;
    color: #000000;
}

.status-symbol {
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    background-color: #008000;
}

.logo-column a {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.welcome-column .welcome-text {
    margin-right:10px;
    color: darkgreen;
}