<mat-toolbar class="header">
    <div class="container-fluid">   
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 logo-column">
                <!-- <a><img src="../../../assets/images/logo-small.png"></a> -->
                <a href="javascript:void(0)">Release Management</a>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 welcome-column">
                <h6><i class="fa fa-circle welcome-text"></i>Welcome - Abhishek</h6>
            </div>
        </div>
    </div>
</mat-toolbar>

<!-- <header class="header-section">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img class="img-responsive" src="assets/images/logo-small.png" alt="Logo Image"></a>
            </div>
            <div class="collapse navbar-collapse menu-list">
                <p>Welcome - Abhishek</p>
            </div>
        </div>
    </nav>
</header> -->
