.sidebar {
    display: table;
    background:-webkit-linear-gradient(-29deg, rgba(33, 114, 45, 0.95) 0, rgba(55, 52, 120, 0.95) 100%);
    width: 250px;
    min-height: 898px;
    float: left;
    /* background-color: #36424a; */
    /* background-image: url(./../../../assets/image/sidebar.jpg); */
}
.sidebar ul {
    padding: 5px !important;
}
.sidebar ul li {
    list-style: none;
    padding: 10px 10px;
}
.sidebar ul li a {
    color: #FFF;
}
.sidebar .icon-gap {
    margin-right: 10px;
}


.sidebar-container {
    min-height: 838px;
    width: 250px;
    background:-webkit-linear-gradient(-29deg, rgba(33, 114, 45, 0.95) 0, rgba(55, 52, 120, 0.95) 100%);
    position: relative;
    float: left;
}
.list-item {
    height: auto !important;
    line-height: 2.5;
}
.list-item a {
    color: #FFF;
}
.list-item label {
    margin-left: 20px;
}
.list-item-child {
    line-height: 0.5;
}
.mat-icon {
    font-size: 12px;
    margin-top: 12px;
}
.child-menu-close {
    display: none;
}

.treeview-angle {
    float: right;
    font-size: 14px;
    margin-top: 8px;
}

.child-menu-open {
    display: block;
}

.child-link {
    font-size: 13px;
}