.sidebar {

    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #54595D;
    overflow-x: hidden;
    /* padding-top: 20px; */
    /* background-color: lightgreen; */
    /* display: table; */
    /* background:-webkit-linear-gradient(-29deg, rgba(33, 114, 45, 0.95) 0, rgba(55, 52, 120, 0.95) 100%); */
    /* width: 250px; */
    /* min-height: 898px; */
    /* float: left; */
    /* background-color: #36424a; */
    /* background-image: url("assets/images/sidebar.jpg"); */
    margin-top: 64px;
}
/* .sidebar::after {
    background: rgba(30, 30, 30, 0.5) none repeat scroll 0 0;
    content: "";
    height:100%;
    left:0;
    position: absolute;
    top:0;
    width: 100%; 
} */
.sidebar ul {
    padding: 5px !important;
    /* margin-top: 50px; */
}

.sidebar-collapse {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #54595D;
    overflow-x: hidden;
    margin-top: 64px;
    -webkit-transition: transform 1.05s ease-in-out;
    -moz-transition:transform 1.05s ease-in-out;
    -ms-transition:transform 1.05s ease-in-out;

}


.sidebar ul li {
    list-style: none;
    padding: 10px 10px;
    background-color: #5E6263;
    margin-bottom: 2px;
    border-radius: 3px;
}
.sidebar label {
    text-align: center;
    display: block;
    color: #FFF;
}
.sidebar ul li a {
    color: #FFF;
}
.sidebar .icon-gap {
    margin-right: 10px;
}
.top-menu {
    background: linear-gradient(to bottom, #5e6263 0%, #1a1c29 102%);
}

.icon-test {
    float: right;
    margin-top: 15px;
    font-size: 40px;
    margin-right: 15px;
    color: #FFF;
}

.sidebar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
    /* float: left; */
}


.sidebar-container {
    min-height: 838px;
    width: 250px;
    /* background:-webkit-linear-gradient(-29deg, rgba(33, 114, 45, 0.95) 0, rgba(55, 52, 120, 0.95) 100%); */
    position: relative;
    float: left;
}
.list-item {
    height: auto !important;
    line-height: 2.5;
}
.list-item a {
    color: #FFF;
}
.list-item label {
    margin-left: 20px;
}
.list-item-child {
    line-height: 0.5;
}
.mat-icon {
    font-size: 12px;
    margin-top: 12px;
}
.child-menu-close {
    display: none;
}

.treeview-angle {
    float: right;
    font-size: 14px;
    margin-top: 8px;
}

.child-menu-open {
    display: block;
}

.child-link {
    font-size: 13px;
}