<div class="dashboard">
    <div class="container">
        <div class="row header">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>RMT SERVICES</h2>
            </div>
        </div>
        <div class="row application-row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <a href="javascript:void(0)" (click)="appDetails()"><img src="../../assets/image/dummy.jpeg" alt="NEOS"></a>
                <!-- <button>NEOS</button> -->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="../../assets/image/dummy.jpeg" alt="NEOS">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="../../assets/image/dummy.jpeg" alt="NEOS">
            </div>
        </div>
        <div class="row application-row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="../../assets/image/dummy.jpeg" alt="NEOS">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="../../assets/image/dummy.jpeg" alt="NEOS">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="../../assets/image/dummy.jpeg" alt="NEOS">
            </div>
        </div>
        <div class="row application-row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="../../assets/image/dummy.jpeg" alt="NEOS">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="../../assets/image/dummy.jpeg" alt="NEOS">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="../../assets/image/dummy.jpeg" alt="NEOS">
            </div>
        </div>
    </div>
</div>