.dashboard {
    background-color: #ecf0f5;
    padding-bottom: 60px;
}
.dashboard .header h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}
.dashboard .row {
    text-align: center;
}

.dashboard img {
    border-radius:50%;
    height: 200px;
    width: 200px;
    
}

.gapper {
    margin-top: 60px;
}