.footer {
    /* background:-webkit-linear-gradient(-29deg, rgba(55, 52, 120, 0.95) 100%, rgba(33, 114, 45, 0.95) 0); */
    min-height: 50px;
    background-color: #36424a;
    
}
.footer p {
    text-align: center;
    margin-top: 8px;
    color: #ffffff
}